@model IEnumerable<BOL.Batch>
<h3 align="right"><a href="/Admin/Logout">LOGOUT</a></h3>
<h1 align="center" style="color:blueviolet;border:groove"><u>BATCH DETAILS</u></h1>
<h4 align="right">
    
        @Html.ActionLink("Enter New Batch Details", "Create")|
       
   
  
</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BatchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatchNOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatchStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatchEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatchDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatchProgress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseOffered)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BatchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatchNOS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatchStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatchEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatchDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatchProgress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseOffered)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BatchId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BatchId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BatchId })
        </td>
    </tr>
}

</table>
