@model BOL.Subject
<h3 align="right"><a href="/Admin/Logout">LOGOUT</a></h3>
<div>
    <h1 align="center" style="color:blueviolet;border:groove">Subject Details</h1>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectReferences)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectReferences)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
