@model BOL.Faculty

@{
    ViewBag.Title = "FacultyDetailsForAll";
}

<h3 align="right"><a href="/Admin/Logout">LOGOUT</a></h3>

<div>
    <h1 align="center" style="color:blueviolet;border:groove">Faculty Details</h1>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseTeachs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseTeachs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qualification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qualification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoiningDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoiningDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>
</div>
<table>
<tr>
    <td><img src="~/Images/schedule.png" alt="Image Unvavailable" height="150px" width="250px" /></td>
    <td><img src="~/Images/courses.jpg" alt="Image Unvavailable" height="150px" width="250px" /></td>
    <td><img src="~/Images/batch.jpg" alt="Image Unvavailable" height="150px" width="250px" /></td>
    <td><img src="~/Images/subject.png" alt="Image Unvavailable" height="150px" width="250px" /></td>
</tr>
<tr>
    <td align="center"><h4><a href="/Schedule/ScheduleForFaculty">Schedule</a></h4></td>
    <td align="center"><h4><a href="/Course/CourseForFaculty">Courses</a></h4></td>
    <td align="center"><h4><a href="/Batch/BatchForFaculty">Batch Information </a></h4></td>
    <td align="center"><h4><a href="/Subject/SubjectForFaculty">Subject Details </a></h4></td>
</tr>

</table>
<hr>
