@model BOL.Schedule

@{
    ViewBag.Title = "Details";
}
<h3 align="right"><a href="/Admin/Logout">LOGOUT</a></h3>
<h2>Details</h2>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacultyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacultyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Venue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfLec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfLec)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ScheduleId }) |
   @Html.ActionLink("Back to List", "Index")
</p>
